In [1]:

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

In [12]:
df1 = pd.read_csv("uber_lyft.csv")

df1

,Unnamed: 0,ride_id,distance,cab_type,time_stamp,destination,pickup,price,surge_mutliplier,product_id,name,date_col,Date,Time
0,0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30
1,1,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30
2,2,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30
3,3,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30
4,4,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30
5,5,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30
6,6,4bd23055-6827-41c6-b23b-3c491f24e74d,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,2018-11-27 02:00:23,27/11/2018,02:00
7,7,4bd23055-6827-41c6-b23b-3c491f24e74d,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,2018-11-27 02:00:23,27/11/2018,02:00
8,8,4bd23055-6827-41c6-b23b-3c491f24e74d,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,2018-11-27 02:00:23,27/11/2018,02:00
9,9,4bd23055-6827-41c6-b23b-3c491f24e74d,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,2018-11-27 02:00:23,27/11/2018,02:00
10,10,4bd23055-6827-41c6-b23b-3c491f24e74d,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,2018-11-27 02:00:23,27/11/2018,02:00
11,11,4bd23055-6827-41c6-b23b-3c491f24e74d,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,lyft_premier,Lux,2018-11-27 02:00:23,27/11/2018,02:00
12,12,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
13,13,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
14,14,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
15,15,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
16,16,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
17,17,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
18,18,981a3613-77af-4620-a42a-0c0866077d1e,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,lyft,Lyft,2018-11-28 01:00:22,28/11/2018,01:00
19,19,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02,30/11/2018,04:53
20,20,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02,30/11/2018,04:53
21,21,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02,30/11/2018,04:53
22,22,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02,30/11/2018,04:53
23,23,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02,30/11/2018,04:53
24,24,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,lyft_luxsuv,Lux Black XL,2018-11-30 04:53:02,30/11/2018,04:53
25,25,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,2018-11-29 03:49:20,29/11/2018,03:49
26,26,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,2018-11-29 03:49:20,29/11/2018,03:49
27,27,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,2018-11-29 03:49:20,29/11/2018,03:49
28,28,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,2018-11-29 03:49:20,29/11/2018,03:49
29,29,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,lyft_plus,Lyft XL,2018-11-29 03:49:20,29/11/2018,03:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1415298,1415298,658be024-196a-4392-8fbf-65e7c1e608fd,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,2018-12-18 01:15:07,18/12/2018,01:15
1415299,1415299,658be024-196a-4392-8fbf-65e7c1e608fd,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,9a0e7b09-b92b-4c41-9779-2ad22b4d779d,WAV,2018-12-18 01:15:07,18/12/2018,01:15
1415300,1415300,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415301,1415301,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415302,1415302,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415303,1415303,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415304,1415304,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415305,1415305,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415306,1415306,d4ba5a0c-e822-40f6-b590-ce4193677c75,1.56,Uber,1545095707709,Back Bay,Boston University,NaN,1.0,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi,2018-12-18 01:15:07,18/12/2018,01:15
1415307,1415307,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415308,1415308,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415309,1415309,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415310,1415310,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415311,1415311,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415312,1415312,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415313,1415313,eb477dab-c6f5-4f63-9247-9661f8605b30,1.56,Uber,1545095707709,Back Bay,Boston University,12.5,1.0,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-12-18 01:15:07,18/12/2018,01:15
1415314,1415314,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415315,1415315,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415316,1415316,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415317,1415317,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415318,1415318,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415319,1415319,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415320,1415320,ffc7010c-6ce4-4ee7-b39e-7a3cf1f820ce,1.56,Uber,1545095707709,Back Bay,Boston University,8.0,1.0,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-12-18 01:15:07,18/12/2018,01:15
1415321,1415321,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15
1415322,1415322,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15
1415323,1415323,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15
1415324,1415324,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15
1415325,1415325,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15
1415326,1415326,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15
1415327,1415327,14a57889-68d7-47bd-9a34-76cb6aa9df5b,0.95,Lyft,1545095707709,Beacon Hill,Haymarket Square,3.5,1.0,lyft_line,Shared,2018-12-18 01:15:07,18/12/2018,01:15

In [2]:
uber = pd.read_csv("uber1.csv")

uber.head()

,ride_id,distance,cab_type,time_stamp,destination,pickup,price,surge_mutliplier,product_id,name,old_date_col,date_col,Date,Time
0,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,1.540000e+12,West End,North End,12.0,1.25,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
1,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,1.540000e+12,West End,North End,12.0,1.25,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
2,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,1.540000e+12,West End,North End,12.0,1.25,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
3,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,1.540000e+12,West End,North End,12.0,1.25,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
4,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,1.540000e+12,West End,North End,12.0,1.25,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200

In [3]:



uber = uber.drop(columns=['time_stamp'])
uber = uber.drop(columns=['product_id'])

In [4]:
uber.head()

,ride_id,distance,cab_type,destination,pickup,price,surge_mutliplier,name,old_date_col,date_col,Date,Time
0,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
1,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
2,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
3,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
4,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200

In [3]:
lyft = pd.read_csv("lyft.csv")

lyft.head()

,Unnamed: 0,ride_id,distance,cab_type,time_stamp,destination,pickup,price,surge_mutliplier,product_id,name,date_col,Date,Time,count
0,0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30,1
1,1,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30,1
2,2,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30,1
3,3,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30,1
4,4,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,lyft_line,Shared,2018-12-16 09:30:07,16/12/2018,09:30,1

In [15]:
#filtering data


Lyft_surge = df1.loc[(df1['cab_type']== 'Lyft') & (df1['surge_mutliplier']> 1)]




Lyft_surge1 = Lyft_surge.sort_values('surge_mutliplier', ascending = False)

# Lyft_surge1.head() 

Lyft_surge1 = Lyft_surge1.drop(columns=['Unnamed: 0'])

Lyft_surge1.head()

,ride_id,distance,cab_type,time_stamp,destination,pickup,price,surge_mutliplier,product_id,name,date_col,Date,Time
433260,cb7f3543-7f95-4042-a20b-971d1d38acb4,4.64,Lyft,1545003618739,Boston University,Theatre District,38.0,3.0,lyft,Lyft,2018-12-16 23:40:18,16/12/2018,23:40
997986,26f21ac1-edcc-4467-80e2-3d4676cbc0fe,2.30,Lyft,1543337662045,Haymarket Square,Back Bay,42.5,3.0,lyft_plus,Lyft XL,2018-11-27 16:54:22,27/11/2018,16:54
997988,26f21ac1-edcc-4467-80e2-3d4676cbc0fe,2.30,Lyft,1543337662045,Haymarket Square,Back Bay,42.5,3.0,lyft_plus,Lyft XL,2018-11-27 16:54:22,27/11/2018,16:54
997989,26f21ac1-edcc-4467-80e2-3d4676cbc0fe,2.30,Lyft,1543337662045,Haymarket Square,Back Bay,42.5,3.0,lyft_plus,Lyft XL,2018-11-27 16:54:22,27/11/2018,16:54
997990,26f21ac1-edcc-4467-80e2-3d4676cbc0fe,2.30,Lyft,1543337662045,Haymarket Square,Back Bay,42.5,3.0,lyft_plus,Lyft XL,2018-11-27 16:54:22,27/11/2018,16:54

In [26]:
uber_surge = uber.loc[(uber['surge_mutliplier'] > 1)]



# uber_surge1 = uber_surge.sort_values('surge_mutliplier', ascending = False)



# uber_surge1 = uber_surge1.drop(columns=['Unnamed: 0'])

uber_surge.head()

,ride_id,distance,cab_type,destination,pickup,price,surge_mutliplier,name,old_date_col,date_col,Date,Time
0,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
1,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
2,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
3,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200
4,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200

In [31]:
uber.describe()

            distance          price  surge_mutliplier           Time
count  785516.000000  673458.000000     785516.000000  785516.000000
mean        2.197348      15.807581          1.090082    1186.368323
std         1.185875       8.586073          0.257230     696.295089
min         0.020000       4.500000          1.000000       0.000000
25%         1.300000       9.000000          1.000000     600.000000
50%         2.170000      12.500000          1.000000    1200.000000
75%         2.860000      21.500000          1.000000    1800.000000
max         7.500000      89.500000          2.000000    2400.000000

In [ ]:
from datetime import datetime

# now = datetime.now()

now = uber.old_date_col

def rounder(now):
    if now.minute >= 30:
        return now.replace(second=0, minute=0, hour=t.hour+1)
    else:
        return now.replace(second=0)

print(rounder(now))

# now           # 2018-02-22 22:03:53.831589
# rounder(now)  # 2018-02-22 22:00:00.000000

In [24]:
uber.dtypes

ride_id              object
distance            float64
cab_type             object
destination          object
pickup               object
price               float64
surge_mutliplier    float64
name                 object
old_date_col         object
date_col             object
Date                 object
Time                 object
dtype: object

In [25]:
uber['Time'] = uber['Time'].astype(str)
uber['date_col'] = uber['date_col'].astype(str)

In [28]:
#combining the two columns to match the data for weather

# dataframe["period"] = dataframe["Year"].map(str) + dataframe["quarter"]




uber["date_time"] = uber["date_col"] + uber["Time"]
    
# df.fillna(0)      #if the blanks are nan will need this line first



# df['xy']=df['x']+df['y']


# new_df


uber.head()

,ride_id,distance,cab_type,destination,pickup,price,surge_mutliplier,name,old_date_col,date_col,Date,Time,date_time
0,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200,2018-11-30 2200
1,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200,2018-11-30 2200
2,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200,2018-11-30 2200
3,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200,2018-11-30 2200
4,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,30/11/2018,2200,2018-11-30 2200

In [30]:
weather  = pd.read_csv("openweatherextract.csv")
# weather['time_stamp'] = pd.to_datetime(weather['time_stamp']).apply(lambda x: x.date())


weather.head()

,date_col,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,...,snow_3h,snow_6h,snow_12h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2018-11-18 0:00,44.73,44.06,46.04,1024.7,57,6.55,257,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
1,2018-11-18 1:00,44.80,42.80,46.40,1024.7,55,6.89,258,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
2,2018-11-18 2:00,44.22,42.80,46.40,1025.4,59,6.93,264,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
3,2018-11-18 3:00,43.39,42.08,44.96,1025.7,62,6.67,270,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,90,804,Clouds,overcast clouds,04n
4,2018-11-18 4:00,42.73,41.90,44.06,1025.7,62,6.46,278,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,75,803,Clouds,broken clouds,04n

In [35]:
# Combine the data into a single dataset


merge1 = pd.merge(uber, weather, how= "left", on = ["date_col", "date_col",])

merge1.head()

,ride_id,distance,cab_type,destination,pickup,price,surge_mutliplier,name,old_date_col,date_col,...,snow_3h,snow_6h,snow_12h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009e9c53-074d-43cf-aef2-0fbc7a47ed3d,1.11,Uber,West End,North End,12.0,1.25,UberXL,2018-11-30 22:13,2018-11-30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# new_merge = pd.merge(uber,weather)

# new_merge.head()

https://www.kaggle.com/ravi72munde/uber-lyft-cab-prices#weather.csv

In [27]:
# Import API key
from api_key import api_key
import json

In [26]:
# Save config information
# url = "http://api.openweathermap.org/data/2.5/weather?"
url = "http://history.openweathermap.org/data/2.5/history?"
city = "New York"

# Build query URL
query_url = url + "appid=" + api_key + "&q=" + city

In [32]:
# Save config information


api_key = "f58eaa40b41d93c923aae4f2cf9dd113"

start = 1544952607
cnt = 1543708385
city = "New York"

query_url = "http://history.openweathermap.org/data/2.5/history/city?&appid=api_key&lat=40.71&lon=-74.01&type=hour&start={start}&cnt={cnt}"

Nine ways to avoid surge pricing on Lyft and Uber
If you know you're going to need a ride during peak hours, schedule a Lyft in advance. ...
Check the other app. ...
Take another kind of car. ...
Try carpooling. ...
Walk a few blocks. ...
Try out surge tracking apps like SurgeProtector. ...
Wait. ...
Refer a friend and get a free ride.